<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>搜索</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__css/style.css"/>
	</head>
	<body>
		<div class="container">
			<header>
				<a href="javascript:" onclick="history.go(-1)" class="back"></a>
				<input type="search" class="to_search" placeholder="搜索商品,获得更多好货" value="{$goods_data.keywords}">
				<button type="button" class="btn_search">搜索</button>
			</header>
			<div class="contents search">
				{empty name="$goods_data.keywords"}
				<div class="search_box">
					{notempty name="$search.history_record" }
					<div class="search_history">
						<h3>历史记录:</h3>
						<ul class="history_list">
							{volist name="$search.history_record" id="v" offset="0" length='6'}
							<li>
								<a href="{:url('index/index/search')}?keywords={$v}">{$v}</a>
							</li>
							{/volist}
						
						</ul>
						<div class="empty">清空搜索记录</div>
					</div>
					{/notempty}
					<div class="hot_search">
						<h3>热门搜索:</h3>
						<ul class="hot_list">
							{volist name="$search.hot_record" id="v"}
							<li>
								<a href="{:url('index/index/search')}?keywords={$v}">{$v}</a>
							</li>
							
							{/volist}
						</ul>
					</div>
				</div>
				{else}
				<div class="result_list" style="">
					<div class="sort">
						<div class="item t1">
							<span>综合</span>
						</div>
						<span>|</span>
						<div class="item t2">销量</div>
						<span>|</span>
						<div class="item t3">筛选</div>
						<ul class="item1">
							<li class="on">综合</li>
							<li>价格最高</li>
							<li>价格最低</li>
						</ul>
					</div>
					<ul>
						{volist name="$goods_data.goods_data" id="v"}
						<li>
							<div class="img">
								<a href="detail.html">
									<img src="{$v.original_img}" >
								</a>
							</div>
							<div class="info">
								<a href="detail.html">
									<p class="title">{$v.goods_name}</p>
									<p class="price">
										<span>￥{$v.shop_price}</span>
										<span>￥{$v.market_price}</span>
									</p>
								</a>
								<p class="collect">
										{if condition="$v.is_collect == 1"}
											<img src="__INDEX__img/collection.png" >
										{else}
											<img src="__INDEX__img/collection1.png" >
										{/if}
								</p>
							</div>
						</li>
						{/volist}
					</ul>
				</div>
				{/empty}
			</div>
			<!-- 返回顶部 -->
			<div class="to_top"></div>
		</div>
		
		<script src="__INDEX__js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 清空历史记录
			$('.empty').on('click', function(){
				layer.confirm('确定要清空历史记录吗?', {
					btn:['确定','取消']
				},function(){
					$.post('{:url("index/index/clear_history")}',function(data){
						if(data.code == 1){
							$('.history_list').empty();
							$('.search_history').hide();
						}
						layer.msg(data.msg);
					})
				})
			})
			// 搜索
			$('.btn_search').on('click', function(){
				let keyword = $('.to_search').val();
				if(keyword == ''){
					layer.msg('请输入搜索条件');
					return false;
				}
				window.location.href = "{:url('index/index/search')}?keywords="+keyword;
				// $.post('{:url("")}')
			})
		
			let isBool = false;
			$('.sort').on('click', '.t1', function(){
				if(!isBool){
					$('.item1').slideDown();
				}
				else{
					$('.item1').slideUp();
				}
				isBool = !isBool;
			})
		</script>
	</body>
</html>
